<div class="game">
    <div class="game-img">
        <img src="./static/images/legacy.webp">
    </div>
    <div class="game-info">
        <h1>{{gamename}}</h1>
        <p><span>Platform: </span>XBOX</p>
        <p><span>Genre: {{gerne}} </span>Action Role-Playing</p>
        <p><span>Price: {{price}}</span>$55</p>
    </div>

    <a href="#" class="btn-details">Details</a>
</div>