<form action="/auth/login" method="post">
    <label>Username <input type="text" name="username"></label>
    <label>Password <input type="text" name="password"></label>
    <button>login</button>
</form>