<form method="post" action="/auth/register">
    <label>Username <input type="text" name="username"></label>
    <label>Email <input type="text" name="email"></label>
    <label>Password <input type="text" name="password"></label>
    <label>Password <input type="text" name="repassword"></label>
    <button>Register</button>
</form>